<IfModule mod_rewrite.c>
# disable directory browsing
	<IfModule mod_negotiation.c>
		Options -MultiViews -Indexes
	</IfModule>
	
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !^.*/(resources)/(css|js|fonts)/(.*)\.(js|css|otf|eot|svg|ttf|woff|woff2|map)$
RewriteCond %{REQUEST_FILENAME} !^.*/(resources)/(img)/(.*)\.(gif|jpg|jpeg|png|bmp)$
RewriteRule ^ index.php [L]
</IfModule>